<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div class="accordions">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>import_export</mat-icon>
            </mat-panel-title>
            <mat-panel-description> Add/Import/Export </mat-panel-description>
          </mat-expansion-panel-header>
          <button mat-raised-button color="primary" (click)="addGame()">
            Add New Game
          </button>
          <a
            mat-raised-button
            color="primary"
            [href]="gameServ.getGamesExportLink()"
            download="boardgames.json"
            >Export Games</a
          >
          <app-file-uploader></app-file-uploader>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel
          [expanded]="!isDisplayTableView"
          [disabled]="isDisplayTableView"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> <mat-icon>filter_alt</mat-icon> </mat-panel-title>
            <mat-panel-description> Filters and sorting </mat-panel-description>
          </mat-expansion-panel-header>
          <app-filters [itemsCount]="itemsCount"></app-filters>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-drawer>

  <div class="sidenav-content">
    <div class="side-controls">
      <button
        *ngIf="loggedInUser"
        type="button"
        mat-button
        (click)="drawer.toggle()"
        (click)="toggleSidenav()"
      >
        <mat-icon *ngIf="!isSidenavExpanded" matTooltip="Expand actions panel"
          >keyboard_arrow_right</mat-icon
        >
        <mat-icon *ngIf="isSidenavExpanded" matTooltip="Collapse actions panel"
          >keyboard_arrow_left</mat-icon
        >
      </button>
      <button *ngIf="loggedInUser" type="button" mat-button>
        <mat-icon
          *ngIf="!isDisplayTableView"
          (click)="displayTableView()"
          matTooltip="Switch to table view"
          >list</mat-icon
        >
        <mat-icon
          *ngIf="isDisplayTableView"
          (click)="displayGridView()"
          matTooltip="Switch to grid view"
          >grid_view</mat-icon
        >
      </button>
    </div>
    <div class="cards" *ngIf="!isDisplayTableView">
      <app-game-card
        *ngFor="
          let game of boardgames
            | sort: sortType:sortDirection
            | filter: filterType
            | search: searchRequest
        "
        [game]="game"
        [loggedInUser]="loggedInUser"
      ></app-game-card>

      <div class="placeholder" *ngIf="!(itemsCount | async) && loggedInUser">
        There are no items
      </div>
    </div>

    <div class="table" *ngIf="isDisplayTableView">
      <app-games-table></app-games-table>
    </div>
  </div>
</mat-drawer-container>
