<h1 mat-dialog-title>Lend "{{ game.name }}" to a friend</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Select a user</mat-label>
      <mat-select name="user" ngModel required>
        <mat-option
          *ngFor="let user of users"
          [value]="user"
          [disabled]="user.id === authService.getLoggedInUser()?.id"
          >{{ user.email }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
      type="submit"
      [disabled]="!f.valid"
    >
      Lend
    </button>
    <button mat-button mat-dialog-close>Cancel</button>
  </form>
</div>
