<div>
  <section class="control-section">
    <h3>Filter Type:</h3>
    <mat-button-toggle-group (change)="onFilterTypeChange($event.value)" value="all">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle [value]="boardgameType.Euro"
        >Euro</mat-button-toggle
      >
      <mat-button-toggle [value]="boardgameType.Party"
        >Party</mat-button-toggle
      >
      <mat-button-toggle [value]="boardgameType.Amero"
        >Amero</mat-button-toggle
      >
    </mat-button-toggle-group>
  </section>

  <section class="control-section">
    <h3>Sort Direction:</h3>
    <mat-button-toggle-group (change)="onSortDirectionChange($event.value)" value="asc">
      <mat-button-toggle value="asc">Ascending</mat-button-toggle>
      <mat-button-toggle value="desc">Descending</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <section class="control-section">
    <h3>Sort Type:</h3>
    <mat-button-toggle-group (change)="onSortTypeChange($event.value)" value="none">
      <mat-button-toggle value="none">None</mat-button-toggle>
      <mat-button-toggle value="name">Name</mat-button-toggle>
      <mat-button-toggle value="date">Date</mat-button-toggle>
      <mat-button-toggle value="playTime">Play Time</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <section class="control-section">
    <h3>Search:</h3>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Search by name"
        [(ngModel)]="searchRequest"
        (change)="onSearchChange()"
      />
    </mat-form-field>
  </section>

  <section class="control-section">
    <h3>Displayed Items: {{ itemsCount | async }}</h3>
  </section>
</div>
