.card {
  margin: 0 30px 30px 30px;
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 5px solid;
  border-color: black;
  position: relative;

  p {
    margin-bottom: 5px;
  }
}

img {
  max-width: 15vw;
  max-height: 15vh;
}

.thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

mat-icon {
  cursor: pointer;
  font-size: 22px;
}

.icons {
  position: absolute;
  right: 0px;
  top: 7px;
}

.red {
  border-color: red;
}

.green {
  border-color: green;
}

.blue {
  border-color: blue;
}

.lent {
  background-color: rgba(0, 0, 0, 0.3);
  img{
    opacity: 0.5;
  }
}

.returnSection {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
}
