<mat-card
  class="card"
  [ngClass]="{
    red: game.type === boardgameType.Amero,
    green: game.type === boardgameType.Party,
    blue: game.type === boardgameType.Euro,
    lent: isBorrowedGame
  }"
  matTooltip="{{ tooltipText }}"
  [matTooltipDisabled]="!isBorrowedGame"
  matTooltipPosition="right"
  (mouseenter)="showOverlay = true"
  (mouseleave)="showOverlay = false"
>
  <mat-card-header>
    <mat-card-title>{{ game.name }}</mat-card-title>
    <mat-card-subtitle>{{ game.type }} game</mat-card-subtitle>
    <div class="icons" *ngIf="!isBorrowedGame">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="editGame()" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="deleteGame()" mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button (click)="incrementTimesPlayed()" mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>Played</span>
        </button>
        <button (click)="openGameDetails()" mat-menu-item>
          <mat-icon>fullscreen</mat-icon>
          <span>Details</span>
        </button>
        <button
          (click)="showClipboardNotification()"
          [cdkCopyToClipboard]="gameUrl"
          mat-menu-item
        >
          <mat-icon>link</mat-icon>
          <span>Share</span>
        </button>
        <button (click)="lendGame()" mat-menu-item>
          <mat-icon>snowshoeing</mat-icon>
          <span>Lend</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <div class="thumbnail">
    <img [src]="game.imageUrl" alt="Game thumbnail" />
  </div>

  <mat-card-content>
    <p>Purchased on {{ game.purchaseDate | date }}</p>
    <p>
      Played <strong>{{ game.timesPlayed }}</strong> times
    </p>
    <div class="returnSection" *ngIf="isBorrowedGame && showReturnButton">
      <button mat-raised-button color="primary" (click)="returnGame()">
        Game was returned
      </button>
    </div>
  </mat-card-content>
</mat-card>
