.mat-dialog-content{
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 30vw;
  }
  button{
    margin-top: 10px;
    max-width: 150px;
  }

}

.nameGroup{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .mat-form-field {
    width: 100%;
  }
  button{
    margin-left: 10px;
    min-width: 100px;
  }
}

img{
  max-width: 25vw;
  margin-bottom: 10px;
  align-self: center;
}

.submitGroup{
  display: flex;
  justify-content: center;
}
