<h1 mat-dialog-title>{{formType}}</h1>
<div mat-dialog-content>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput name="username" placeholder="Enter an email" ngModel required email>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput name="password" ngModel required>
    </mat-form-field>

    <button mat-raised-button mat-dialog-close color="primary" type="submit" [disabled]="!f.valid">{{formType}}</button>
    <button mat-button mat-dialog-close>Cancel</button>
  </form>
</div>
