  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Your array</mat-label>
    <input matInput placeholder='Enter numbers separated by space' #arrInput>
  </mat-form-field>
<button (click)="onArraySubmit()" mat-raised-button color="primary">Submit</button>

<mat-divider></mat-divider>

<div class="operations">
  <form (ngSubmit)="sortArray(f)" #f="ngForm">
    <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">Sort</button>
      <input type="radio" value="asc" name="sort" ngModel required>
      <label for="asc">Ascending</label>

      <input type="radio" value="desc" name="sort" ngModel required>
      <label for="desc">Descending</label>
  </form>

  <button (click)="filterOddNums()" mat-raised-button color="primary">Filter Odd numbers</button>
  <button (click)="getBiggestNum()" mat-raised-button color="primary">Get biggest number</button>
  <button (click)="removeDupes()" mat-raised-button color="primary">Remove duplicates</button>
  <button (click)="getSum()" mat-raised-button color="primary">Get sum</button>
</div>

<mat-divider></mat-divider>

<h2>Initial array is: {{initialArray}}</h2>
<h2>Operation result is: {{result}}</h2>
