<div class="container">
  <h2>{{ game?.name }}</h2>
  <img [src]="game!.imageUrl" alt="Game thumbnail" />
  <p>{{ game?.description }}</p>

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Some topical youtube vid
        </mat-panel-title>
      </mat-expansion-panel-header>
      <iframe width="560" height="315" [src]="safeURL" frameborder="0" allowfullscreen></iframe>
    </mat-expansion-panel>
  </mat-accordion>
</div>

